<div class="container">
<br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-success room_panel">
				<div class="panel-body">
					<table class="table">
						<tr ng-repeat="room in rooms">
							<td>{{room.name}}</td>
								<td><button class="btn btn-primary pull-right" ng-click="join(room.id)">Enter</button>
									</td>
							</tr>
								</table>
							</div>
							<div class="panel-footer">
 			 						<form class="form-inline">
										<div class="form-group">
											<label for="roomname">New Room</label>
											<input type="text" class="form-control" id="roomname" placeholder="Room name" ng-model="newRoom.name">
										</div>
										<button type="submit" class="btn btn-primary" ng-click="createRoom(newRoom)">Create</button>
									</form>
 							</div>
							</div>
						</div>
						
					</div>
				</div>
				